server:
  port: 8080
  servlet:
    context-path: /arbeidsgiver-arbeidsforhold-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator

spring:
  profiles:
    active: local
  main:
    banner-mode: log
springdoc:
  swagger-ui:
    enabled: true
  packagesToScan: no.nav.tag.innsynAareg

token.x:
  privateJwk: ${TOKEN_X_PRIVATE_JWK}
  clientId: ${TOKEN_X_CLIENT_ID}
  tokendingsUrl: ${TOKEN_X_TOKEN_ENDPOINT}

---

spring:
  config:
    activate:
      on-profile: local

nais.cluster.name: local

no.nav.security.jwt.issuer:
  tokenx:
    discoveryurl: http://localhost:${mock-oauth2-server.port}/issuer1/.well-known/openid-configuration
    accepted_audience: someaudience

mock:
  enabled: true
  port: 8081
  aktorPort: 8082

aareg:
  aaregArbeidsforhold: "http://localhost:${mock.port}/aareg-services/api/v1/opplysningspliktig/arbeidsforholdoversikt?status=ALLE"
  aaregArbeidsgivere: "http://localhost:${mock.port}/aareg-services/api/v1/opplysningspliktig/arbeidsgiveroversikt"
  proxyAudience: "local:local:local"
  tilgangskontroll.alle.organisasjoner.url: "http://localhost:${mock.port}/aareg-tilgangskontroll.intern.dev.nav.no/api/v1/tilganger/innsyn-arbeidsgiver"
  tilgangskontroll.organisasjoner.url: "http://localhost:${mock.port}/aareg-tilgangskontroll.intern.nav.no/api/v1/tilganger/innsyn-arbeidsgiver/har-rettighet"
  tilgangskontroll.scope: "local:local:local"

yrkeskodeverk:
  yrkeskodeUrl: "http://localhost:${mock.port}/kodeverk/api/"
  yrkeskodeScope: "scope"

pdl:
  pdlUrl: "http://localhost:${mock.port}/graphql"
  pdlScope: "scope"

ereg:
  url: "http://localhost:${mock.port}/ereg/api/v2/organisasjon/"

altinn:
  altinnUrl: "http://localhost:${mock.port}/altinn/"
  altinnHeader: "test"
  APIGwHeader: "test"
  proxyUrl: "http://localhost:${mock.port}/altinn/"
  proxyAudience: "local:local:local"

AZURE_APP_CLIENT_ID: "clientId"
AZURE_APP_CLIENT_SECRET: "clientSecret"
AZURE_OPENID_CONFIG_TOKEN_ENDPOINT: "http://localhost:${mock.port}/azure"

---

spring:
  config:
    activate:
      on-profile: labs

no.nav.security.jwt.issuer.selvbetjening:
  discoveryurl: https://arbeidsgiver.ansatt.dev.nav.no/fake-login/metadata?issuer=selvbetjening
  accepted_audience: aud-selvbetjening
  cookiename: selvbetjening-idtoken

mock:
  enabled: true
  port: 8081
  aktorPort: 8082

aareg:
  aaregArbeidsforhold: "http://localhost:${mock.port}/aareg-services/api/v1/opplysningspliktig/arbeidsforholdoversikt?status=ALLE"
  aaregArbeidsgivere: "http://localhost:${mock.port}/aareg-services/api/v1/opplysningspliktig/arbeidsgiveroversikt"
  proxyAudience: "labs:labs:labs"
  tilgangskontroll.alle.organisasjoner.url: "http://localhost:${mock.port}/aareg-tilgangskontroll.intern.dev.nav.no/api/v1/tilganger/innsyn-arbeidsgiver"
  tilgangskontroll.organisasjoner.url: "http://localhost:${mock.port}/aareg-tilgangskontroll.intern.nav.no/api/v1/tilganger/innsyn-arbeidsgiver/har-rettighet"
  tilgangskontroll.scope: "labs:labs:labs"

yrkeskodeverk:
  yrkeskodeUrl: "http://localhost:${mock.port}/kodeverk/api/"
  yrkeskodeScope: "scope"

pdl:
  pdlUrl: "http://localhost:${mock.port}/graphql"
  pdlScope: "scope"

ereg:
  url: "http://localhost:${mock.port}/ereg/api/v2/organisasjon/"

altinn:
  altinnUrl: "http://localhost:${mock.port}/altinn/"
  altinnHeader: "test"
  APIGwHeader: "test"
  proxyUrl: "http://localhost:${mock.port}/altinn/"
  proxyAudience: "labs:labs:labs"

AZURE_OPENID_CONFIG_TOKEN_ENDPOINT: "http://localhost:${mock.port}/azure"

---

spring:
  config:
    activate:
      on-profile: dev

aareg:
  aaregArbeidsforhold: "https://aareg-services-q1.dev.intern.nav.no/api/v1/opplysningspliktig/arbeidsforholdoversikt?status=ALLE&arbeidsforholdtype=ordinaertArbeidsforhold,maritimtArbeidsforhold,forenkletOppgjoersordning,frilanserOppdragstakerHonorarPersonerMm"
  aaregArbeidsgivere: "https://aareg-services-q1.dev.intern.nav.no/api/v1/opplysningspliktig/arbeidsgiveroversikt"
  proxyAudience: dev-fss:arbeidsforhold:aareg-services-nais-q1
  tilgangskontroll.alle.organisasjoner.url: https://aareg-tilgangskontroll-q1.intern.dev.nav.no/api/v1/tilganger/innsyn-arbeidsgiver
  tilgangskontroll.organisasjoner.url: https://aareg-tilgangskontroll-q1.intern.dev.nav.no/api/v1/tilganger/innsyn-arbeidsgiver/har-rettighet
  tilgangskontroll.scope: "dev-gcp:arbeidsforhold:aareg-tilgangskontroll-q1"

no.nav.security.jwt.issuer.tokenx:
  discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
  accepted_audience: ${TOKEN_X_CLIENT_ID}

yrkeskodeverk:
  yrkeskodeUrl: "https://kodeverk-api.nav.no/api/v1/kodeverk/Yrker/koder/betydninger?spraak=nb"
  yrkeskodeScope: "api://dev-gcp.team-rocket.kodeverk-api/.default"

pdl:
  pdlUrl: "https://pdl-api.intern.dev.nav.no/graphql"
  pdlScope: "api://dev-fss.pdl.pdl-api/.default"

ereg:
  url: "https://ereg-services-q1.dev.intern.nav.no/ereg/api/v2/organisasjon/"

altinn:
  altinnUrl: "https://api-gw-q1.adeo.no"
  altinnHeader: ${ALTINN_HEADER}
  APIGwHeader: ${APIGW_HEADER}
  proxyUrl: https://altinn-rettigheter-proxy.intern.dev.nav.no/altinn-rettigheter-proxy
  proxyAudience: dev-gcp:arbeidsgiver:altinn-rettigheter-proxy

---

spring:
  config:
    activate:
      on-profile: prod

aareg:
  aaregArbeidsforhold: "https://aareg-services.intern.nav.no/api/v1/opplysningspliktig/arbeidsforholdoversikt?regelverk=A_ORDNINGEN&status=ALLE&arbeidsforholdtype=ordinaertArbeidsforhold,maritimtArbeidsforhold,forenkletOppgjoersordning,frilanserOppdragstakerHonorarPersonerMm"
  aaregArbeidsgivere: "https://aareg-services.intern.nav.no/api/v1/opplysningspliktig/arbeidsgiveroversikt"
  proxyAudience: prod-fss:arbeidsforhold:aareg-services-nais
  tilgangskontroll.alle.organisasjoner.url: https://aareg-tilgangskontroll.intern.nav.no/api/v1/tilganger/innsyn-arbeidsgiver
  tilgangskontroll.organisasjoner.url: https://aareg-tilgangskontroll.intern.nav.no/api/v1/tilganger/innsyn-arbeidsgiver/har-rettighet
  tilgangskontroll.scope: "prod-gcp:arbeidsforhold:aareg-tilgangskontroll-q1"

no.nav.security.jwt.issuer:
  tokenx:
    discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
    accepted_audience: ${TOKEN_X_CLIENT_ID}

yrkeskodeverk:
  yrkeskodeUrl: "https://kodeverk-api.nav.no/api/v1/kodeverk/Yrker/koder/betydninger?spraak=nb&spraak=nn"
  yrkeskodeScope: "api://prod-gcp.team-rocket.kodeverk-api/.default"

pdl:
  pdlUrl: "https://pdl-api.intern.nav.no/graphql"
  pdlScope: "api://prod-fss.pdl.pdl-api/.default"

ereg:
  url: "https://ereg-services.intern.nav.no/ereg/api/v2/organisasjon/"

altinn:
  altinnUrl: "https://api-gw.adeo.no"
  altinnHeader: ${ALTINN_HEADER}
  APIGwHeader: ${APIGW_HEADER}
  proxyUrl: https://altinn-rettigheter-proxy.intern.nav.no/altinn-rettigheter-proxy/
  proxyAudience: prod-gcp:arbeidsgiver:altinn-rettigheter-proxy
