server:
  port: 8080
  servlet:
    context-path: /arbeidsgiver-arbeidsforhold-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator

spring:
  profiles:
    active: local

---

spring:
  config:
    activate:
      on-profile: local

nais.cluster.name: local

no.nav.security.jwt.issuer.selvbetjening:
  discoveryurl: http://metadata-selvbetjening
  accepted_audience: aud-localhost
  cookiename: localhost-idtoken

mock:
  enabled: true
  port: 8081
  aktorPort: 8082

sts:
  stsPass: "mockpass"
  stsUrl: "http://localhost:${mock.port}/sts"

aareg:
  aaregArbeidsforhold: "http://localhost:${mock.port}/aareg-services/api/v1/opplysningspliktig/arbeidsforholdoversikt?status=ALLE"
  aaregArbeidsgivere: "http://localhost:${mock.port}/aareg-services/api/v1/opplysningspliktig/arbeidsgiveroversikt"

yrkeskodeverk:
  yrkeskodeUrl: "http://localhost:${mock.port}/kodeverk/api/"

pdl:
  pdlUrl: "http://localhost:${mock.port}/graphql"

ereg:
  url: "http://localhost:${mock.port}/ereg/api/v1/organisasjon/"

altinn:
  altinnUrl: "http://localhost:${mock.port}/altinn/"
  altinnHeader: "test"
  APIGwHeader: "test"
  proxyUrl: "http://localhost:${mock.port}/altinn/"

---

spring:
  config:
    activate:
      on-profile: labs

no.nav.security.jwt.issuer.selvbetjening:
  discoveryurl: http://min-side-ag-fakelogin.arbeidsgiver/metadata?issuer=selvbetjening
  accepted_audience: aud-selvbetjening
  cookiename: selvbetjening-idtoken

mock:
  enabled: true
  port: 8081
  aktorPort: 8082

sts:
  stsPass: "mockpass"
  stsUrl: "http://localhost:${mock.port}/sts"

aareg:
  aaregArbeidsforhold: "http://localhost:${mock.port}/aareg-services/api/v1/opplysningspliktig/arbeidsforholdoversikt?status=ALLE"
  aaregArbeidsgivere: "http://localhost:${mock.port}/aareg-services/api/v1/opplysningspliktig/arbeidsgiveroversikt"

yrkeskodeverk:
  yrkeskodeUrl: "http://localhost:${mock.port}/kodeverk/api/"

pdl:
  pdlUrl: "http://localhost:${mock.port}/graphql"

ereg:
  url: "http://localhost:${mock.port}/ereg/api/v1/organisasjon/"

altinn:
  altinnUrl: "http://localhost:${mock.port}/altinn/"
  altinnHeader: "test"
  APIGwHeader: "test"
  proxyUrl: "http://localhost:${mock.port}/altinn/"

---

spring:
  config:
    activate:
      on-profile: dev

aareg:
  aaregArbeidsforhold: "https://modapp-q1.adeo.no/aareg-services/api/v1/opplysningspliktig/arbeidsforholdoversikt?status=ALLE&arbeidsforholdtype=ordinaertArbeidsforhold,maritimtArbeidsforhold,forenkletOppgjoersordning,frilanserOppdragstakerHonorarPersonerMm"
  aaregArbeidsgivere: "https://modapp-q1.adeo.no/aareg-services/api/v1/opplysningspliktig/arbeidsgiveroversikt"

no.nav.security.jwt.issuer.selvbetjening:
  discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
  accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
  cookiename: selvbetjening-idtoken
  proxyurl: http://webproxy.nais:8088

yrkeskodeverk:
  yrkeskodeUrl: "https://kodeverk.nais.preprod.local/api/v1/kodeverk/Yrker/koder/betydninger?spraak=nb"

sts:
  stsPass: ${STS_PASS}
  stsUrl: https://security-token-service.nais.preprod.local/rest/v1/sts/token

pdl:
  pdlUrl: "https://pdl-api.nais.preprod.local/graphql/"

ereg:
  url: "https://modapp-q1.adeo.no/ereg/api/v1/organisasjon/"

altinn:
  altinnUrl: "https://api-gw-q1.adeo.no"
  altinnHeader: ${ALTINN_HEADER}
  APIGwHeader: ${APIGW_HEADER}
  proxyUrl: https://arbeidsgiver.dev.intern.nav.no/altinn-rettigheter-proxy

---

spring:
  config:
    activate:
      on-profile: prod

aareg:
  aaregArbeidsforhold: "https://modapp.adeo.no/aareg-services/api/v1/opplysningspliktig/arbeidsforholdoversikt?regelverk=A_ORDNINGEN&status=ALLE&arbeidsforholdtype=ordinaertArbeidsforhold,maritimtArbeidsforhold,forenkletOppgjoersordning,frilanserOppdragstakerHonorarPersonerMm"
  aaregArbeidsgivere: "https://modapp.adeo.no/aareg-services/api/v1/opplysningspliktig/arbeidsgiveroversikt"


no.nav.security.jwt.issuer.selvbetjening:
  discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
  accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
  cookiename: selvbetjening-idtoken
  proxyurl: http://webproxy.nais:8088

sts:
  stsPass: ${STS_PASS}
  stsUrl: https://security-token-service.nais.adeo.no/rest/v1/sts/token

yrkeskodeverk:
  yrkeskodeUrl: "https://kodeverk.nais.adeo.no/api/v1/kodeverk/Yrker/koder/betydninger?spraak=nb&spraak=nn"

pdl:
  pdlUrl: "https://pdl-api.nais.adeo.no/graphql"

ereg:
  url: "https://modapp.adeo.no/ereg/api/v1/organisasjon/"

altinn:
  altinnUrl: "https://api-gw.adeo.no"
  altinnHeader: ${ALTINN_HEADER}
  APIGwHeader: ${APIGW_HEADER}
  proxyUrl: https://arbeidsgiver.intern.nav.no/altinn-rettigheter-proxy/
