<configuration>
    <appender name="stdout"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <springProfile name="local,labs">
        <appender name="stdout"
                  class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n
                </Pattern>
            </layout>
        </appender>
    </springProfile>
    <logger name="jsonLogger" additivity="false" level="INFO">
        <appender-ref ref="stdout"/>
    </logger>
    <!-- NB: Info-nivå på generell logging fører til at ugyldige cookies logges i klartekst i Tomcat (testet 10.1.5) -->
    <!-- Se https://www.jvt.me/posts/2020/04/07/tomcat-cookie-disclosure/ -->
    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="no.nav.tag" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.springframework" level="INFO"/>
    <!--<logger name="no.nav.security.token.support" level="DEBUG"/>-->
</configuration>